/*============================================================
		0. basic settings
		1. header
		2. logotip
		3. about me
		4. my skills
		5. my experience
		6. slider
		7. my services
		8. statistic
		9. my works
		10. my team
		11. get in touch
		12. footer 
=============================================================*/


/*
0. basic settings
-------------------------------------------------------------------*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	margin: 0 auto;
	font-size: 15px;
	font-family: sans-serif;

}
a{
	text-decoration: none;
	text-transform: none;
}
li{
	list-style-type: none;
}
h1{
	font-size: 3em;
	text-transform: uppercase;
	
}
img{
	max-width: 100%;
	height: auto;
}
h3{
	font-weight: normal;
}
#about_me,#logotip,#my_skills{
	padding-left: 164px;
}
.title {
  /*overflow: hidden;*/
/*   background: #fff; */
  font-weight: normal;
  font-size: 1.2em;
  font-weight: 500;
  text-transform: uppercase;
  position: absolute;
  top: 75px;
  left: -5px;
  white-space: nowrap;

  
}
.title:before{
  content: '';
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 166.5px;
  height: 2px;
  background: #000;
  border: solid #FFF;
  border-width: 0 3px;
  text-indent: 0;
}
.title:before {
  /* margin-left: -90%; */
}

.gallery{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 1025px;

}
.gallery .gal_elem{
	height: 270px;
	overflow: hidden;
	/*border: 1px solid #000;*/
}
/*
0. /basic settings
-------------------------------------------------------------------*/

/*
1. Header
-------------------------------------------------------------------*/
header{
	position: absolute;
	height: 70px;
	display: block;
	top: 0;
	left: 0;
	right: 0;
	background-color: rgba(11, 11, 11, .5);
}
header menu {
	float: left;
	overflow: hidden;
	height: inherit;
	width: 76%;

}
header menu li {
	float: left;
	display: inline-block;
	height: inherit;
	/*width: calc(100%/6);*/

	text-align: center;
}
header menu li a{
	display: block;
	height: inherit;
	line-height: 70px;
	text-transform: uppercase;
	color: #fff;
	padding: 0 20px 0 20px;
	font-size: .9em;
	transition: background .5s ease-out;
}
header menu li a:hover{
	background-color: rgba(187, 216, 212, 0.4);
	border-bottom: 4px solid #FF8800;
	color: #000;
}
.logo{
	display: block;
	float: left;
	height: inherit;
	text-transform: uppercase;
	width: 200px;
	line-height: 70px;
	color: #fff;
	text-indent: 50px;
	z-index: 22;
}


/*
1. /Header
-------------------------------------------------------------------*/

/*
2. Logotip
-------------------------------------------------------------------*/
#logotip{
	background-image: url("../../images/background/human1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 800px;
	padding-top: 125px;
	color: #fff;
}
.download{
	display: inline-block;
	width: 200px;
	height: 66px;
	/* padding: 25px 18px; */
	text-align: center;
	line-height: 66px;
	color: #fff;
	border: 2px solid #fff;
	margin-top: 10px;
	font-size: 1.3em;
}
.download:hover{
	
	color:#ccc;
	border-color: #ccc;
}
.intro{
	margin-top: 46px;
	margin-bottom: 42px;
	display: inline-block;
	font-size: 1.5em;
}
/*
2. /Logotip
-------------------------------------------------------------------*/



/*
3. About Me
-------------------------------------------------------------------*/
#about_me{
	/*padding-top: 6.4em;*/
	padding-top: 87px;
	padding-bottom: 87px;
	padding-left: 427px;
	position: relative;
	overflow: hidden;
}
#about_me article{
	overflow: hidden;
}
#about_me article h2,#about_me article .content{
	float: left;
	
}
#about_me article h2{

	width: 31%;
	font-size: 1.4;
	font-weight: 300;
}
#about_me article .content{
	width: 65%;
	line-height: 200%;
}
#about_me p:nth-child(2) {
	margin: 20px 0;
}
#about_me .content .links{
	font-size: 2em;

}
#about_me .content .links a{
	color: #000;
	margin-right: 33px;
}
#about_me .content .links a:hover{
	color: #4A4A4A;

}



/*
3. /About Me
-------------------------------------------------------------------*/

/*
4. My skills
-
------------------------------------------------------------------*/
#my_skills{
	height: 283px;
	background: #000;
	overflow: hidden;
	color: #fff;
	font-weight: 500;
}
#my_skills .skill{
	width: 17%;
	/*border: 1px solid #fff;*/
	float: left;
	height: inherit;
	margin-right: 164px;
}
#my_skills .skill span{
	display: block;
}
#my_skills .skill .progress{
	width: 100%;
	height: 10px;
	border: 2px solid #fff;
	border-radius: 5px;
	position: relative;

}
#my_skills .skill .progress .strips{
	font-size: 1.5em;
	position: relative;
	height: 6px;
	background: #fff;
	border-radius: 3px;
}
.strip1{
	width: 80%;
}
.strip2{
	width: 70%;
}
.strip3{
	width: 90%;
}
.procent{
	margin-top: 30%;
}
.skillname{
	margin-top: 9%;
}
.progress{
	margin-top: 7%;
}
/*
4. /My skills
-------------------------------------------------------------------*/

/*
5. My experience
-------------------------------------------------------------------*/
#my_experience{
	padding-top: 84px;
	padding-bottom: 81px;
	padding-left: 427px;
	position: relative;
}
#my_experience h4{
	font-weight: normal;
}
#my_experience > article{
	position: relative;
	width: 500px;
	padding: 40px 95px;
	border: 1px solid #ccc;
	line-height: 1.5;
	box-shadow: 0 0 10px #ccc;
	margin-bottom: 50px;
	z-index: 1;
}
#my_experience > article:nth-of-type(2){
	margin-left: 9.3%;
}

#my_experience > article >aside{
	padding-top: 30px;
	position: absolute;
	width: 320px;
	border: 1px solid #000;
	text-align: center;
	right: -260px;
	bottom: 22px;
	background: #fff;
	z-index: 2;
	height: 120px;


	
}
#my_experience >.exp>p{
	margin-top: 30px;
	line-height: 130%;

}
#my_experience > .exp2 > aside{
	left: -260px;
}
#my_experience > article >aside h4{
	font-size: 2em;
	font-weight: bold;


}


/*
5. /My experience
-------------------------------------------------------------------*/

/*
6. Slider
--------------------------------------------------------------------*/
#slider{
	height: 380px;
	background-image: url("../../images/background/mount2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding: 64px 240px;
	z-index: 1;
}
#slider .conte{
	
	height: 100%;
	background: rgba(0, 0, 0, .5);
	z-index: 2;
	color: #fff;
	padding: 16px 22px;
}
.conte>p{
	line-height: 150%;
	margin: 40px 0;
	font-size: 1.2em;
}
.conte>h3{
	font-size: 1.2em;
	font-weight: 700;
}
.navbut{
	display: inline-block;
	height: 14px;
	width: 14px;
	border: 2px solid #fff;
}
.navbut:nth-child(2){
	background: #fff;
}


/*
6. /Slider
--------------------------------------------------------------------*/

/*
7. My services
--------------------------------------------------------------------*/
#my_services{
	padding-top: 80px;
	padding-bottom: 80px;
	padding-left: 425px;
	position: relative;	
}
#my_services .serv{
	width: 325px;
	border: 1px solid #ccc;
	box-shadow: 0 0 20px #ccc;
	/* padding: 3% 3%; */
	position: relative;
	z-index: 1;
	padding: 48px 35px 115px;
	padding-bottom: 115px;
	padding-top: 48px;
}
#my_services .serv1{
	margin-bottom: 3%;
}
#my_services .serv3{
	margin-top: 3%;
}
#my_services .serv2{

	margin-left: 385px;
	margin-bottom: -92px;
	margin-top: -92px;
}
#my_services .serv aside{
	position: absolute;
	border: 1px solid #000;
	width: 100%;
	height: 70px;
	line-height: 70px;
	text-align: center;
	font-size: 1.5em;
	z-index: 2;
	background: #fff;
	bottom: -7%;

}
.serv>p{
	line-height: 150%;
}
#my_services .serv aside i{
	font-size: 1.5em;
	margin-right: 5%;
}
#my_services .serv aside span{
	font-size: 1.2em;
}
#my_services>div:nth-of-type(2n-1)>aside{
	left: -15.2%;
}
/*
7. /My services
--------------------------------------------------------------------*/

/*
8. Statistics
--------------------------------------------------------------------*/
#statistics{
	height: 252px;
	background-image: url("../../images/background/mount6.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	background-position: center;
	overflow: hidden;
	padding-left: 240px;
	white-space: nowrap;
	position: relative;
}
.stats{
	display: flex;
	width: 874px;
	justify-content: space-between;
	height: inherit;
}
.stat{
	width: calc(2/15.5*100%);
	float: left;
/*	border-right: 1px solid #fff;
	border-left: 1px solid #fff;*/
	height: inherit;
	padding-top: 80px;
	/* text-align: center; */
}
.num{
	text-align: center;
	font-size: 27px;
}
.stat:nth-child(1){
	width: 158px;
}
.stat:nth-child(2){
	width: 168px;
}
.stat:nth-child(3){
	width: 178px;
}
.stat>span{
	display: block;
}
.descr{
	font-size: 1.3em;
}
/*
8. /Statistics
--------------------------------------------------------------------*/

/*
9. My works
--------------------------------------------------------------------*/
#my_works{
	padding-top: 140px;
	padding-left: 160px;
	position: relative;
}
#my_works .title{

}
#my_works .gallery{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}
#my_works .gallery .gal_elem{
	height: 280px;
	overflow: hidden;
	/*border: 1px solid #000;*/
}
#my_works .gallery .gal_elem:nth-child(-n+2){

	width: 500px;
	margin-bottom: 50px;
}
#my_works .gallery .gal_elem:nth-child(n+3){
	width: 320px;
}


/*
9. /My works
--------------------------------------------------------------------*/

/*
10. My team
--------------------------------------------------------------------*/
#my_team{
	padding-top: 140px;
	padding-left: 160px;
	background: #F5F2F4;
	padding-bottom: 80px;
	position: relative;
	text-align: center;

}
#my_team a{
	color: #fff;
}
#my_team .names{
	font-size: 1.7em;
}
#my_team span{
	display: block;
	line-height: 200%;
}
.linkes>a{
	padding: 5px;
}
#my_team .gallery .gal_elem{

	width: 320px;
	height: 295px;
	position: relative;
}
#my_team .gallery .gal_elem img{
	z-index: 2
}
#my_team .gallery .gal_elem .fon{
	padding-top: 100px;
	opacity: 0;
	position: absolute;
	width: inherit;
	height: inherit;
	background: rgba(0, 0, 0, 0);
	color: #fff;
}
#my_team .gallery .gal_elem:hover>.fon{
	background: rgba(0, 0, 0, .7);
	opacity: 1;

} 
/*
10. /My team
--------------------------------------------------------------------*/

/*
11. /Get in touch
--------------------------------------------------------------------*/
#get_in_touch{
	position: relative;
	padding-top: 90px;
	padding-left: 160px;
}
#get_in_touch .title{
	top: 70px;
}
.contacts{
	height: 180px;
	display: flex;
	width: 1025px;
	justify-content: space-between;
	/* border: 1px solid #000; */


}
.cont{
	width: 320px;
	/* border: .5px solid #000; */
	padding: 40px 60px;
	text-align: center;

}
.icon{
	font-size: 2em;
}
.cont p:nth-child(2){
	margin-top: 30px;
	font-size: 1.2em;
}
.myform{
	/* border: 1px solid red; */
	display: flex;
	flex-wrap: wrap;
	padding: 45px 60px;
	width: 1025px;
	justify-content: space-between;
	box-shadow: 0 0 20px #ccc;


}
.myform>input[type="text"],.myform>input[type="email"]{
	width: 436px;
	border: 1px solid #000;
	height: 68px;
	line-height: 68px;
	font-size: 1.5em;
	text-indent: 28px;
	color: #000;
}
.myform>textarea{

	width: 100%;
	border: 1px solid #000;
	height: 152px;
	font-size: 1.5em;
	padding-top: 28px;
	text-indent: 28px;
	margin: 40px 0;
}
.myform>button{
	display: block;
	width: 200px;
	height: 50px;
	background: #000;
	border: none;
	color: #fff;
	font-size: 1.5em;
	text-align: center;
}
/*
11. /Get in touch
--------------------------------------------------------------------*/

/*
12. Footer
--------------------------------------------------------------------*/
footer{
	padding-top: 37px;
	text-align: center;
	height: 150px;
	color: #fff;
	background: #000;
	overflow: hidden;
	margin-top: 84px;
}
.foot_cont{
	font-size: 1.2em;
}
footer a{
	color: #fff;
	display: inline-block;
	height: 100%;
	padding: 0 12px;
}
footer .icons{
	display: flex;
	justify-content: center;
	font-size: 1.5em;
	margin-top: 30px;
}
/*
12. /Footer
--------------------------------------------------------------------*/
